
<ul class="fly-in-text">
    <li>W</li>
    <li>E</li>
    <li>L</li>
    <li>C</li>
    <li>O</li>
    <li>M</li>
    <li>E</li>
</ul>
<a href="/users/signout">
    <img src="/img/exit2.png" alt="SignOut" title="Sign Out">
</a>
<section class="titles">
    
    <div id="greatings">
        <h2 id="header">Thank you for visiting to my Web Page!!!</h2>
        <iframe height="295" src="https://www.youtube.com/embed/Wsa4SyMQODQ?autoplay=1&iv_load_policy=3&start=160&controls=0" frameborder="0" target="_blank" ></iframe>
    </div>
    <div class="credits">
        <h4 id="title1"></h4>
        <h2 id="title2"></h2>
    </div>
</section>
<footer>
    <a href="https://nodejs.org/en/" target="_blank">
        <img src="img/nodejs.png" class="devicons" id="node" title="NodeJS">
    </a>
    <a href="http://expressjs.com/ru/" target="_blank">
        <img src="img/expressjs.png" class="devicons" id="express" title="ExpressJS">
    </a>
    <a href="http://passportjs.org/" target="_blank">
        <img src="img/passportjs.png" class="devicons" id="passport" title="PassportJS">
    </a>
    <a href="http://mongoosejs.com/" target="_blank">
        <img src="img/mongoosejs.png" class="devicons" id="mongoose" title="MongooseJS">
    </a>
    <a href="https://www.mongodb.com/" target="_blank">
        <img src="img/mongo.png" class="devicons" id="mongo" title="MongoDB">
    </a>
    <a href="http://handlebarsjs.com/" target="_blank">
        <img src="img/handlebars.png" class="devicons" id="handlebars" title="HandlebarsJS">
    </a>
    <a href="https://www.w3.org/" target="_blank">
        <img src="img/html.png" class="devicons" id="htmlcss" title="HTML5 & CSS3">
    </a>
    <a href="http://jquery.com/" target="_blank">
        <img src="img/jquery.png" class="devicons" id="jqu" title="JQuery">
    </a>
    <a href="http://getbootstrap.com/" target="_blank">
        <img src="img/bootstrap.png" class="devicons" id="boot" title="Bootstrap">
    </a>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/animation.js"></script>

   

